*{
    padding:0;
    margin:0;
    list-style: none;
    text-decoration: none;
    font-family: proxima-nova, sans-serif;
}
.nav
{
   
   display: grid;
   grid-template-rows: 19vh;
   grid-template-columns: 20% 40% 15%;
   justify-content: space-around;
   align-items: center;
}
.nav ul
{
   
    display: flex;
    justify-content: space-around;
    align-items: center;

}
.nav ul li
{
    display: flex;
    flex-direction: column;
    /* border: 1px solid; */
}
.nav ul li:nth-child(1)
{
    width: 12%;
}
.nav ul li:nth-child(5)
{
    width: 7%;
}
.nav ul li:nth-child(2)
{
    width: 12%;
}
.nav ul li:nth-child(3)
{
    width: 19%;
}
.nav ul li:nth-child(4)
{
    width: 11%;
}
.nav ul li a
{
    color: #323232;
    font-family:'karla', sans-serif;
    /* border: 1px solid; */
    
}
.hover1
{
    height: 3vh; 
    width: 0%;
}
.nav ul li:hover .hover1
{
  transition-duration: 1s;
  width: 100%;
}
.btn
{
    /* border: 1px solid; */
    display: flex;
    /* flex-direction: column; */
    justify-content: space-between;
    align-items:center ;
}
.btn p
{
    text-transform: capitalize;
    color:#323232
}
.btn>button
{
    width:150px;
    height:50px;
    background:#00B29C;
    border:none;
    color:white;
    border-radius:6px;
    font-size: 1.01rem;
    text-transform: uppercase;
    letter-spacing: .01em;
    transition-duration: 1s;  
    color: white; 
}
.btn>button:hover
{
    color:#007F6F;
    background: black; 
}
.page1 
{
display:flex;
flex-direction: column;
height:20vh;
align-items: center;
justify-content: space-evenly;
}
.page1 p
{
    color:#323232;
    font-size:20px;
    
}
.page5
{
    position: relative;
    display:grid;
    height:100vh;
    grid-template-columns: 40% 60%;
}
.page5-left h1
{
    margin-top:50px;
    line-height: 50px;
    margin-left:50px;
    letter-spacing: 1px;
    color:#323232;
    width:100%;
}
.page5-left p{
    margin-top:30px;
    line-height: 30px;
    font-family: proxima-nova, sans-serif;
    letter-spacing: 0.1px;
    margin-left:40px;
}
.page5-left button
{
    width:150px;
    margin-left:40px;
    height:50px;
    background:#00C1A9;
    margin-top:50px;
    color:white;
    font-weight: bolder;
    cursor: pointer;
    border:none;
    border-radius: 7px;
    transition-duration: 1s;
}
.page5-left button:hover{
    background: black;
    color:#00C1A9;
}
.page5-right{
    position: relative;
}
.t-box
{
    position: absolute;
    width:105%;
    height:65vh;
    left:-3%;
    top:10%;
}
.t-circle
{
    position: absolute;
    width:200px;
    height:200px;
    z-index: -1;
    left:76%;
    top:18%;
}
.barr
{
    width:100px;
    height:100px;
    position: absolute;
    top:70%;
    left:-7%;
}
.h-grid
{
    position: relative;
 height:21vh;
    left:19%;
    z-index: 55;
    top:60%;
}
.graph
{
    position: absolute;
    width:63.5%;
    height:28%;
    left:19%;
    top:61%;
    overflow: hidden;
}
.graph img
{
    width:200%;
    height:30vh;
    top:48%;
    animation:graph 20s infinite linear;
}
@keyframes graph
{
 from{
transform:translateX(0%);
 }
 to{
   transform: translateX(-50%);
 }
}
.p
{
    display:grid;
    grid-template-columns: 35% 65%;
    width:100%;
    height:100vh;
    margin-top:80px;
}
.page3-left h5
{
    margin-top:130px;
    margin-left:60px;
}
.page3-left h1
{
    margin-top:50px;
    line-height: 50px;
    margin-left:50px;
    letter-spacing: 1px;
    color:#323232;
    width:100%;
}
.page3-left p{
    margin-top:30px;
    line-height: 36px;
    font-family: proxima-nova, sans-serif;
    letter-spacing: 0.1px;
    margin-left:40px;
}
.page3-left button
{
    width:150px;
    margin-left:40px;
    height:50px;
    background:#00C1A9;
    margin-top:50px;
    color:white;
    font-weight: bolder;
    cursor: pointer;
    border:none;
    border-radius: 7px;
    transition-duration: 1s;
}
.page3-left button:hover{
    background: black;
    color:#00C1A9;
}
.page3-left img
{
    position:absolute;
    width:180px;
    top:297%;
    left:2%;
    z-index: -1;
}
.page3-right
{

    position: relative;
}
.face-1 
{
    position:absolute;
    width:23%;
    height:32vh;
    left:55%;
}
.face-2
{
    position:absolute;
    width:27%;
    height:38vh;
    left:75%;
}
.face-3
{
    position: absolute;
    width:100%;
    height:100vh;
    left:4%;
    top:-3%;
}
.face-4
{
    position: relative;
    width:45%;
    height:68vh;
    top:25%;
    left:34%;
    overflow: hidden; 
}
.face-4> .n1, .n
{   top:0%;
    position: absolute;
    width:100%;
    height:100%; 
animation:face 10s  0.2s infinite linear;
}
.n
{
top:105%;
position:absolute;
}
@keyframes face
{
from{
transform: translateY(0%);
}
to
{
transform: translateY(-100%);
}
}
body{
    overflow-x: hidden;
}
.b-box2
{
    height:70vh;

    display:grid;
    grid-template-columns: 45% 45%;
    justify-content:center;
}
.baby h1
{
    position: relative;
    top: 20%;
}
.baby p
{
   color:#323232;
   line-height:25px;
   position: relative;
   top: 25%;
}
.baby button
{
    width:150px;
    height:7vh;
    border-radius:7px;
    border:none;
    background:#00C1A9;
    color:white;
    font-weight: bolder;
    cursor: pointer;
    position: absolute;
    top:270%;
}
.baby button:hover
{
    background:black;
    color:#00C1A9;
}
.baby2{
    position: relative;
}
.whitediv 
{
    position: absolute;
    left:40%;
    height:40vh;
    width:300px;
    top:10%;
}
.api2-base{
    width:450px;
    height:250px;
    position: absolute;
    top:20%;
    left:10%;
}
.api2-girl
{
    height:250px;
    position: relative;
    left:67%;
    top:18%;
}
.api2-dot
{
    position: absolute;
    height:20px;
    left:67%;
    top:25%;
}
.rotate
{
    position: absolute;
    height: 15vh;
    border-radius:50%;
    width:17%;
    top:25%;
    
    left:10%;
}
.facebook
{
    width:20px;
    height:20px;
    position:absolute;
    left:3%;
    top: 30%;
    transition-duration: 10s;
    animation:facebook 4s infinite linear;
}
@keyframes facebook
{
    0%{left:3%;top: 30%;transition-duration: 1s;}
    30%{left: 12%; top: 33%; transition-duration: 1s;}
    50%{ left: 12%;top: 35%;transition-duration: 1s;}
    70%{ left: 5%;top: 37%;transition-duration: 1s;}
    80%{ left: 3%;top: 39%;}
  
}
.youtube
{
    width:20px;
    height:20px;
    position:absolute;
    left:58%;
    top:27%;
    animation:youtube 4s infinite linear;
}
@keyframes youtube
{
    0%{left:58%;top:27%;transition-duration: 1s;}

    30%{left:50%;top:20%;transition-duration: 1s;}
    60%{left:40%;top:10%;transition-duration: 1s;}
    90%{left:45%;top:10%;transition-duration: 1s;}
    100%{left:60%;top:10%;transition-duration: 1s;}

}
.twitter
{
    width:20px;
    height:20px;
    position:absolute;
    left:25%;
    top:56%;
    animation:twitter 5s infinite linear;
}
@keyframes twitter
{
   0%{left:25%;top:64%;transition-duration: 1s;}
   20%{left:30%;top:70%;transition-duration: 1s;}
   50%{left:32%;}
   70%{left:34%;}
   100%{left:25%;} 
}
.instagram
{
    width:20px;
    height:20px;
    position:absolute;
    left:50%;
    top:52%;
    animation:instagram 5s infinite linear;
}
@keyframes instagram {
      0%{left:70%;top:52%;transition-duration: 1s;}
      50%{left:60%;}
      100%{left:70%;}
}
.page5
{
    height:70vh;
    display: grid;
    grid-template-columns: 45% 45%;
    justify-content: center;
}
.men{
    width:450px;
    position: relative;
}
.withe
{
    width:450px;
    position: absolute;
    left: 6%; 
}
.blah{
    position: absolute;
    top:50%;
    width:100px;
    left:3%;
}
.pinky{
    position: relative;
    left:10%
}
.pinky h1{
    position: absolute;
    top:10%;
}
.pinky p{
    position: absolute;
    top:25%;
    color:#323232;
    line-height: 27px;
}
.pinky button
{
    width:150px;
    height:7vh;
    border-radius:7px;
    border:none;
    background:#00C1A9;
    color:white;
    font-weight: bolder;
    cursor: pointer;
    position: absolute;
    top:70%
}
.pinky button:hover
{
    background:black;
    color:#00C1A9;
}
.page6
{
    height:85vh;
    width:90%;
    background:#FFE8EB;
    display:flex;
    flex-direction:column;
    align-items: center;
text-align: center;
justify-content: space-evenly;
    position: relative;
    left:5%;
}
.upppp
{
   width:150px;
}
.page10
{
height: 70vh;
position: relative;
}
.ugg
{
    width:50%;
    height:60vh;
    right:54%;
    position:absolute;
}
.hg{
    position:absolute;
    width:30px;
    top:77%;
    left:28%;
    transform: rotate(38deg);
    height:30px;
    animation:hg 1s infinite linear;
}
@keyframes hg
{
    0%{opacity: 0;}
    50%{opacity: 1;}
    100%{opacity: 0;}
}
.text
{
    position: absolute;
    width:210px;
    height:60px;
    left:18%;
    top:1%;
    z-index:-1;

    animation:text 2s infinite linear;
}
@keyframes text{
    0%{top:3%;}
    50%{top:1%;}
    100%{top:3%;}
}
.text1
{
    position: absolute;
    width:210px;
    height:60px;
    left:30%;
    top:34%;
    animation:text1 2s infinite linear;
}
@keyframes text1
{
    0%{top:36%}
    50%{top:34%}
    100%{top:36%;}
}
.text2{
    position: absolute;
    width:210px;
    height:60px;
    top:76%;
    left:-3%;
    animation: text2 2s infinite linear;
}
@keyframes text2
{
    0%{top:78%;}
    50%{ top:76%;}
    100%{top:78%;}
}
.how3-graph{
    position: absolute;
    width:150px;
    height:5vh;
    top:32%;
    left:2%
}
.divcyan
{
    position: absolute;
    width:150px;
    height:4vh;
    top:32%;
    left:10%;
    background:#75DFFC;
    border:1px solid;
    border-radius:15px;
}
.wavy{
    width:203px;
    left:4.5%;
    top:50%;
    height:45px;
    position: relative;
  overflow: hidden;
}
.wavy>.w3, .w4
{
    width:100%;
    height:100%;
    position: absolute;
    animation:kk 10s infinite linear;
}
.w4
{
    left:97%
}
@keyframes kk
{
    from{
        transform: translateX(0%);
    }
    to
    {
        transform:translateX(-100%)
    }
    }
.page11{
height:130vh;
background:#E7FEF8;
width:90%;
position: relative;
left:5%;
}
.page11 h1
{
    left:35%;
    position: absolute;
    top:10%;
}
.page11 p{
    left:32%;
    position: absolute;
    top:20%;
    font-size:22px;
    text-align: center;
    line-height:35px;
}
span 
{
    color:#00BAA3;
}
.grid-box
{
    width:70%;
    height:47vh;
    position: relative;
    top:38%;
    display: grid;
    grid-template-columns: 48% 48%;
    grid-template-rows: 8vh 8vh 8vh 8vh;
    left:15%;
    justify-content: space-between;
    align-content: space-between;
}
.child111{
    border:1px solid;
    background:white;
    border-radius:15px;
    box-shadow:3px 3px 3px 3px #A2FDE9;
}
.child222{
    border:1px solid;
    border-radius:15px;
    box-shadow:3px 3px 3px 3px #A2FDE9;
    background:white;
}
.child333{
    border:1px solid;
    border-radius:15px;
    box-shadow:3px 3px 3px 3px #A2FDE9;
    background:white;
}
.child444{
    border:1px solid;
    border-radius:15px;
    box-shadow:3px 3px 3px 3px #A2FDE9;
    background:white;
}
.child555{
    border:1px solid;
    border-radius:15px;
    box-shadow:3px 3px 3px 3px #A2FDE9;
    background:white;
}
.child666{
    border:1px solid;
    border-radius:15px;
     box-shadow:3px 3px 3px 3px #A2FDE9;
    background:white;
}
.child777{
    border:1px solid;
    border-radius:15px;
    box-shadow:3px 3px 3px 3px #A2FDE9;
    background:white;
    position: relative;
}
.child777 img
{
    position:absolute;
    width:25px;
    left:89%;
    top:35%;
    height:15px;
}
.child888 img
{
    position:absolute;
    width:25px;
    left:89%;
    top:35%;
    height:15px;
}
.child888{
    border:1px solid;
    border-radius:15px;
    box-shadow:3px 3px 3px 3px #A2FDE9;
    background:white;
    position: relative;
}
.child111>h3
{
    font-weight: lighter;
    margin:2%;
}
.child222>h3
{
    font-weight: lighter;
    margin:2%;
}.child333>h3
{
    font-weight: lighter;
    margin:2%;
}.child444>h3
{
    font-weight: lighter;
    margin:2%;
}.child555>h3
{
    font-weight: lighter;
    margin:2%;
}.child666>h3
{
    font-weight: lighter;
    margin:2%;
}.child777>h3
{
    font-weight: lighter;
    margin:2%;
}.child888>h3
{
    font-weight: lighter;
    margin:2%;
}
.grid-box button{
width:300px;
height:9vh;
border:none;
background:#00C8AF;
position: absolute;
left:33%;
top:120%;
color:white;
font-weight:bold;
font-size:20px;
border-radius:10px;
cursor: pointer;
transition-duration:1s ;

}
.grid-box button:hover{
    color:#00C8AF;
    background:black;
}
.girl-imgs
{
    width:230px;
    height:70vh;
    position: absolute;
    top:60%;
    left:86%;
}
.lady
{
    position: absolute;
    top:77%;
    width:200px;
    height:27vh;
    left:87.3%;

}
.inbox1
{
 position: absolute;
 height:50px;
 width:50px;
 top:58%;
 left:96%;
 animation:inbox 2s infinite linear;
}
.inbox2
{
 position: absolute;
 height:70px;
 width:70px;
 top:65%;
 left:100%;
 animation:inbox 2s infinite linear;
}
.inbox3
{
 position: absolute;
 height:70px;
 width:70px;
 top:65%;
 left:87%;
animation:inbox 2s infinite linear;

}
@keyframes inbox
{
    0%{margin-top:0%;
        
    }
    50%{margin-top:1%
    }
    100%{margin-top:0%
    }
}
.footer
{
    height:50vh;
   
    position: relative;
}
.l
{
    width:300px;
    height:8vh; 
    position: absolute;
    left:37%;
    top:15%;
}
.footer p{
text-align:center;
position: absolute;
left:33%;
top:37%;
font-size:24px;
line-height: 36px;
letter-spacing:1px;
}
.gol
{
    position: absolute;
    width:150px;
    height:150px;
    left:6%;
    top:20%
}
.icon
{
    height:8vh;
    display:grid;
    grid-template-columns: 20% 20% 20% 20%;  
    width:22%;  
    top:72%;
    left:39%;
    position: relative;
    justify-content: space-between;
}
.ib1{
    border:1px solid;
    border-radius:10px;
    transition-duration: 1s;
    cursor: pointer;
    box-shadow:3px 0px 0px 3px rgb(8, 253, 225);
}
.ib1:hover
{
    background:black;

}
.ib1 i{
    color:#00C8AF;
    font-size:32px;
    margin:15px;
}
.fmenu
{
  
    height:40vh;
    display:grid;
    position: relative;
    top: 50px;
    /* margin-top:20px; */
    justify-content: center;
    grid-template-columns: 16% 16%  16% 16% 16%;
}
.fmenuc{  
    line-height: 35px;
}
.last
{
    height:5vh;
    position: relative;
    left:10%;
    top:70px;
    display:flex;
    justify-content: space-between;
    width:80%;
}
