*{
    padding:0;
    margin:0;
    list-style: none;
    text-decoration: none;
    font-family: proxima-nova, sans-serif;
}
.nav
{
   
   display: grid;
   grid-template-rows: 19vh;
   grid-template-columns: 20% 40% 15%;
   justify-content: space-around;
   align-items: center;
}
.nav ul
{
   
    display: flex;
    justify-content: space-around;
    align-items: center;

}
.nav ul li
{
    display: flex;
    flex-direction: column;
    /* border: 1px solid; */
}
.nav ul li:nth-child(1)
{
    width: 12%;
}
.nav ul li:nth-child(5)
{
    width: 7%;
}
.nav ul li:nth-child(2)
{
    width: 12%;
}
.nav ul li:nth-child(3)
{
    width: 19%;
}
.nav ul li:nth-child(4)
{
    width: 11%;
}
.nav ul li a
{
    color: #323232;
    font-family:'karla', sans-serif;
    /* border: 1px solid; */
    
}
.hover1
{
    height: 3vh; 
    width: 0%;
}
.nav ul li:hover .hover1
{
  transition-duration: 1s;
  width: 100%;
}
.btn
{
    /* border: 1px solid; */
    display: flex;
    /* flex-direction: column; */
    justify-content: space-between;
    align-items:center ;
}
.btn p
{
    text-transform: capitalize;
    color:#323232
}
body
{
    overflow-x:hidden;
}
.btn>button
{
    width:150px;
    height:50px;
    background:#00B29C;
    border:none;
    color:white;
    border-radius:6px;
    font-size: 1.01rem;
    text-transform: uppercase;
    letter-spacing: .01em;
    transition-duration: 1s;  
    color: white; 
}
.btn>button:hover
{
    color:#007F6F;
    background: black;

}
.page1 
{
display:flex;
flex-direction: column;
height:35vh;
align-items: center;
justify-content: space-evenly;
}
.page1 p
{
    color:#323232;
    font-size:18px;
}
.two
{
    width:270px;
    height:7vh;
    border:1px solid;
    border-radius:5px;
    position: relative;
    display: flex;
    box-shadow:3px 3px 3px 3px rgb(99, 231, 196);
}
.two1
{
    width:90px;
    height:4vh;
    left:3%;
    top:16%;
    position:absolute;
    text-align: center;
    transition-duration: 1s;
    cursor: pointer;
}
.two1:hover
{
    background:#efeffa;
    cursor: pointer;
}
.two1 p:hover
{
    color:black;
}
.two1 p
{
    font-size:12px;
    color:silver;
    text-align: center;
    margin-top:7%;  
}
.two2
{
    width:150px;
    height:4.5vh;
    top:16%;
    left:40%;
    position:absolute;
    background: #efeffa;
    text-align: center;
    transition-duration: 1s;
    cursor: pointer;
}
.two2 p
{
    font-size: 12px;
    color:black;
    margin-top:5%;
}
.page2
{
    height:130vh;
    /* border:1px solid; */
}
.centerdiv
{
    width:65%;
    height:100vh;
    border:1px solid ;
    border-radius:5px;
    position: relative;
    left:19%;
    background:white;
    top:5%;
    display: grid;
    grid-template-rows: 15% 40% 45%;
}
.row1
{
    display:grid;
grid-template-columns: 60% 25%;
justify-content: space-evenly
}
.heading1 h1
{
    position: relative;
    top:15%;
}
.heading1 p
{
    position: relative;
    top:20%;
    color:grey
}
.btnnn>button
{
    width:150px;
    height:50px;
    background:#00B29C;
    border:none;
    color:white;
    border-radius:6px;
    font-size: 1.01rem;
    text-transform: uppercase;
    letter-spacing: .01em;
    transition-duration: 1s;  
    color: white; 
    position: relative;
    top:20%;
    left:39%
}
.btnnn>button:hover
{
    color:#007F6F;
    background: black;
}
.row2
{
    display: grid;
    grid-template-columns: 25% 30% 25%;
    justify-content: space-evenly;
}
.columns1
{
position: relative;
left:12%;
font-size: 14px;
}
.columns1 p
{
    margin-top: 13px;
    color:#323232;
}
.columns2
{
    position: relative;
left:12%;
font-size: 14px;
}
.columns2 p
{
    margin-top: 13px;
    color:#323232;
}
.columns3 p
{
    margin-top: 13px;
    font-size: 14px;
    color:#323232;
}
.row3
{
    background: #F8F8FF;
    text-align: center;
    width:85%;
    position: relative;
    left:7%;
    height:90%;
    color:#323232;
}
.row3 h4
{
    font-weight:bolder;
    font-size: 12px;
    letter-spacing: 2px;
    margin-top: 3%;
}
.row3 hr
{
    margin-top:2%;
}
.row4
{
    display: grid;
    height:32vh;
    grid-template-columns: 34% 33% 33%;
}
.ik
{
    border-right:1px solid gray;
    position: relative;
}
.ik img
{
    height:7vh;
    position: absolute;
    top:10%;
    left:10%;
}
.ik h5
{
    font-size:12px;
    margin-top:75px;
}
.ik p
{
    font-size:11px;
text-align: start;
margin-left: 8%;
margin-top: 8%;;
line-height: 20px;
}
.do
{
    border-right:1px solid gray;
    position: relative;
}
.do img
{
    height:7vh;
    position: absolute;
    top:10%;
    left:10%;
}
.do h5
{
    font-size:12px;
    margin-top:75px;
    margin-right: 50%;;
}
.do p
{
    font-size:11px;
text-align: start;
margin-left: 8%;
margin-top: 6%;;
line-height: 20px;
}
.teen
{
    position: relative;
}
.teen img
{
    height:7vh;
    position: absolute;
    top:10%;
    left:10%;
}
.teen h5
{
    font-size:11px;
    margin-top:75px;
    margin-right: 50%;
}
.teen p
{
    font-size:12px;
text-align: start;
margin-left: 8%;
margin-top: 6%;;
line-height: 20px;
}
.arrow
{
    position: absolute;
    height:9vh;
    left:65%;
    bottom:73%;
}
.arrow1
{
    position: absolute;
    height:9vh;
    left:10%;
    transform: rotatey(-180deg);
    bottom:73%;
}
.hero
{
    height:77vh;
    position: absolute;
    bottom:-7%;
    left:-5%;
    width:110%;
}
.hero1
{
    height:9vh;
    position: absolute;
    bottom:60%;
    left:15%;
}
.hero2
{
    height:7vh;
    position: absolute;
    bottom:50%;
    left:17%;
  
}
.hero3
{
    height:3vh;
    position: absolute;
    bottom:68%;
    left:18%;
    transform: rotate(310deg);
    animation: horn 1s infinite linear;
}
@keyframes horn
{
    0%{opacity: 0;}
    100%{opacity:1;}
}

.hero4
{
    height:3vh;
    position: absolute;
    bottom:52%;
    left:22%;
    transform: rotate(366deg);
    animation: horn 1s infinite linear;
}
@keyframes horn
{
    0%{opacity: 1;}
    50%{opacity:0;} 
    100%{opacity: 1;}
}
.hero5
{
    height:20vh;
    position: absolute;
    bottom:37%;
    left:77%;
    z-index: -20;
}

.hero6
{
    height:2vh;
    position: absolute;
    bottom:43%;
    left:84%;
    /* border:1px solid; */
    animation:hero6 2s infinite linear;
}
@keyframes hero6
{
    0%{bottom:43%;}
    50%{bottom:42%}
    100%{bottom:43%;}
}
.hero7
{
    height:4vh;
    position: absolute;
    bottom:47%;
    left:88%;
    animation: hero7 2s infinite linear;
}
@keyframes hero7
{
    0%{bottom:47%;}
    50%{bottom:46%}
    100%{bottom:47%;}
}
.hero8
{
    height:3vh;
    position: absolute;
    bottom:43%;
    left:90%;
    animation:hero8 2s infinite linear;
}
@keyframes hero8 
{
0%{bottom:45%}
50%{bottom:44%}
100%{bottom:45%;}
}
.hero9
{
    height:3vh;
    position: absolute;
    bottom:25%;
    left:87%;
    animation:hero9  2s infinite linear;
}
.fmenuc p:hover{
color:rgb(23, 247, 198);
cursor: pointer;
}
@keyframes hero9
{
    0%{bottom:26%;}
    50%{bottom:25%;}
    100%{bottom:26%;}
}
.page3
{
    height:70vh;
    display:grid;
    grid-template-columns: 35% 50%;
    justify-content:center
}
.bold-l h1
{
margin-top:20%;
}
.bold-l p
{
    color:#323232;
    margin-top:5%;
    line-height:25px;
    letter-spacing: 1px;
}
.bold-r
{

    position: relative;
}
.people
{
    height:55vh;
    position: absolute;
    left:6%;
}
.target
{
    height:60vh;
    position:absolute;
}
.archer
{
    height:2vh;
    position:absolute;
    left:82.3%;
    top:28.2%;
    animation: archer1 2s forwards linear;

}
@keyframes archer1
{
    0%{transform: translateX(400%);}
    100%{transform: translateX(-100);}
 
}
.vibration
{
    height:4vh;
    position:absolute;
    left:76.5%;
    top:20.5%;
    animation: vib .9s infinite linear 1.8s;
    opacity: 0;

}
@keyframes vib
{
 
     0%{opacity: 1;}
     100%{opacity: 0;}
}
.page6
{
    height:85vh;
    width:90%;
    background:#F9DCFE;
    display:flex;
    flex-direction:column;
    align-items: center;
    text-align: center;
    justify-content: space-evenly;
    position: relative;
    left:5%;
}
.upppp
{
   width:150px;
}
.page7
{
    position:relative;
    display: grid;
    grid-template-rows: 15vh 30vh 150vh;
}
.div1
{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    text-align: center;
}

.string
{
    height:20vh;
    position: absolute;
    left:50%;
}
.twofaces
{
    height:7vh;
    position: absolute;
    left:48%;
    top:27%;
    z-index:-1
}
.div22
{
    display: grid;
    grid-template-columns:45% 45%;
    justify-content: space-evenly;
}
.child1
{
   
    display: grid;
    grid-template-rows: repeat(3,1fr);
}
.child2
{
    
    display: grid;
    grid-template-rows: repeat(3,1fr);
}
.div2
{
   border-bottom:1px solid silver;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.div3
{
    border-bottom:1px solid silver;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
span:hover
{
    color:black;
    cursor: pointer;
    font-weight: bolder;
}
.page10
{
height: 70vh;
position: relative;
}
.ugg
{
    width:50%;
    height:60vh;
    right:54%;
    position:absolute;
}
.hg{
    position:absolute;
    width:30px;
    top:77%;
    left:28%;
    transform: rotate(38deg);
    height:30px;
    animation:hg 1s infinite linear;
}
@keyframes hg
{
    0%{opacity: 0;}
    50%{opacity: 1;}
    100%{opacity: 0;}
}
.text
{
    position: absolute;
    width:210px;
    height:60px;
    left:18%;
    top:1%;
    z-index:-1;

    animation:text 2s infinite linear;
}
@keyframes text{
    0%{top:3%;}
    50%{top:1%;}
    100%{top:3%;}
}
.text1
{
    position: absolute;
    width:210px;
    height:60px;
    left:30%;
    top:34%;
    animation:text1 2s infinite linear;
}
@keyframes text1
{
    0%{top:36%}
    50%{top:34%}
    100%{top:36%;}
}
.text2{
    position: absolute;
    width:210px;
    height:60px;
    top:76%;
    left:-3%;
    animation: text2 2s infinite linear;
}
@keyframes text2
{
    0%{top:78%;}
    50%{ top:76%;}
    100%{top:78%;}
}
.how3-graph{
    position: absolute;
    width:150px;
    height:5vh;
    top:32%;
    left:2%
}
.divcyan
{
    position: absolute;
    width:150px;
    height:4vh;
    top:32%;
    left:10%;
    background:#75DFFC;
    border:1px solid;
    border-radius:15px;
}
.wavy{
    width:203px;
    left:4.5%;
    top:50%;
    height:45px;
    position: relative;
  overflow: hidden;
}
.wavy>.w3, .w4
{
    width:100%;
    height:100%;
    position: absolute;
    animation:kk 10s infinite linear;
}
.w4
{
    left:97%
}
@keyframes kk
{
    from{
        transform: translateX(0%);
    }
    to
    {
        transform:translateX(-100%)
    }
    }
.page11{
height:130vh;
background:#E7FEF8;
width:90%;
position: relative;
left:5%;
}
.page11 h1
{
    left:35%;
    position: absolute;
    top:10%;
}
.page11 p{
    left:32%;
    position: absolute;
    top:20%;
    font-size:22px;
    text-align: center;
    line-height:35px;
}
span 
{
    color:#00BAA3;
}
.grid-box
{
    width:70%;
    height:47vh;
    position: relative;
    top:38%;
    display: grid;
    grid-template-columns: 48% 48%;
    grid-template-rows: 8vh 8vh 8vh 8vh;
    left:15%;
    justify-content: space-between;
    align-content: space-between;
}
.child111{
    border:1px solid;
    background:white;
    border-radius:15px;
    box-shadow:3px 3px 3px 3px #A2FDE9;
}
.child222{
    border:1px solid;
    border-radius:15px;
    box-shadow:3px 3px 3px 3px #A2FDE9;
    background:white;
}
.child333{
    border:1px solid;
    border-radius:15px;
    box-shadow:3px 3px 3px 3px #A2FDE9;
    background:white;
}
.child444{
    border:1px solid;
    border-radius:15px;
    box-shadow:3px 3px 3px 3px #A2FDE9;
    background:white;
}
.child555{
    border:1px solid;
    border-radius:15px;
    box-shadow:3px 3px 3px 3px #A2FDE9;
    background:white;
}
.child666{
    border:1px solid;
    border-radius:15px;
     box-shadow:3px 3px 3px 3px #A2FDE9;
    background:white;
}
.child777{
    border:1px solid;
    border-radius:15px;
    box-shadow:3px 3px 3px 3px #A2FDE9;
    background:white;
    position: relative;
}
.child777 img
{
    position:absolute;
    width:25px;
    left:89%;
    top:35%;
    height:15px;
}
.child888 img
{
    position:absolute;
    width:25px;
    left:89%;
    top:35%;
    height:15px;
}
.child888{
    border:1px solid;
    border-radius:15px;
    box-shadow:3px 3px 3px 3px #A2FDE9;
    background:white;
    position: relative;
}
.child111>h3
{
    font-weight: lighter;
    margin:2%;
}
.child222>h3
{
    font-weight: lighter;
    margin:2%;
}.child333>h3
{
    font-weight: lighter;
    margin:2%;
}.child444>h3
{
    font-weight: lighter;
    margin:2%;
}.child555>h3
{
    font-weight: lighter;
    margin:2%;
}.child666>h3
{
    font-weight: lighter;
    margin:2%;
}.child777>h3
{
    font-weight: lighter;
    margin:2%;
}.child888>h3
{
    font-weight: lighter;
    margin:2%;
}
.grid-box button{
width:300px;
height:9vh;
border:none;
background:#00C8AF;
position: absolute;
left:33%;
top:120%;
color:white;
font-weight:bold;
font-size:20px;
border-radius:10px;
cursor: pointer;
transition-duration:1s ;

}
.grid-box button:hover{
    color:#00C8AF;
    background:black;
}
.girl-imgs
{
    width:230px;
    height:70vh;
    position: absolute;
    top:60%;
    left:86%;
}
.lady
{
    position: absolute;
    top:77%;
    width:200px;
    height:27vh;
    left:87.3%;

}
.inbox1
{
 position: absolute;
 height:50px;
 width:50px;
 top:58%;
 left:96%;
 animation:inbox 2s infinite linear;
}
.inbox2
{
 position: absolute;
 height:70px;
 width:70px;
 top:65%;
 left:100%;
 animation:inbox 2s infinite linear;
}
.inbox3
{
 position: absolute;
 height:70px;
 width:70px;
 top:65%;
 left:87%;
animation:inbox 2s infinite linear;

}
@keyframes inbox
{
    0%{margin-top:0%;
        
    }
    50%{margin-top:1%
    }
    100%{margin-top:0%
    }
}
.footer
{
    height:50vh;
   
    position: relative;
}
.l
{
    width:300px;
    height:8vh; 
    position: absolute;
    left:37%;
    top:15%;
}
.footer p{
text-align:center;
position: absolute;
left:33%;
top:37%;
font-size:24px;
line-height: 36px;
letter-spacing:1px;
}
.gol
{
    position: absolute;
    width:150px;
    height:150px;
    left:6%;
    top:20%
}
.icon
{
    height:8vh;
    display:grid;
    grid-template-columns: 20% 20% 20% 20%;  
    width:22%;  
    top:72%;
    left:39%;
    position: relative;
    justify-content: space-between;
}
.ib1{
    border:1px solid;
    border-radius:10px;
    transition-duration: 1s;
    cursor: pointer;
    box-shadow:3px 0px 0px 3px rgb(8, 253, 225);
}
.ib1:hover
{
    background:black;

}
.ib1 i{
    color:#00C8AF;
    font-size:32px;
    margin:15px;
}
.fmenu
{
  
    height:40vh;
    display:grid;
    position: relative;
    top: 50px;
    /* margin-top:20px; */
    justify-content: center;
    grid-template-columns: 16% 16%  16% 16% 16%;
}
.fmenuc{  
    line-height: 35px;
}
.last
{
    height:5vh;
    position: relative;
    left:10%;
    top:70px;
    display:flex;
    justify-content: space-between;
    width:80%;
}
